rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
	match /users/{user} {
	  allow read;    
     match /toDos/{toDo} {
    	allow read, create, update: if request.auth.uid == user;
    }
 	 }
	}
}